@import "tailwindcss";

body {
  position: relative;
  background-color: white;
  font-family: Helvetica;
}

html {
  scroll-behavior: smooth;
}

.Text_Color_A{
  color: #ff0000;
}
.Text_Color_B{
  color: #202020;
}


.canvas-container {
  touch-action: pan-y !important;
}